<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profil 17 Agustus</title>
  <!-- Tambahkan tautan ke berkas Bootstrap di sini -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .profile-card {
      max-width: 400px;
      margin: 100px auto;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .profile-image {
      width: 150px;
      height: 150px;
      border-radius: 10%;
      margin: 0 auto 15px;
      display: block;
    }
    .profile-info {
      text-align: center;
    }
    .profile-info h2 {
      margin-bottom: 5px;
    }
    .profile-info p {
      color: #888;
    }
  </style>
</head>
<body>
  <nav>
      <!-- Navbar content here -->
    <ul>
        <li><a href="/profile">Profile</a></li>
        <% if (user.role === 'admin') { %>
            <li><a href="/admin">Admin Panel</a></li>
        <% } %>
        <% if (user.role === 'scanner') { %>
            <li><a href="/scanner">Scanner Panel</a></li>
        <% } %>
        <a href="/logout">Logout</a>
    </ul>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="profile-card">
          <img src="/qr/<%=user.qr %>" alt="Profile Image" class="profile-image">
          <div class="profile-info">
            <h2><%= user.username %></h2>
            <p>Email: <%= user.email %></p>
            <p>Role: <%= user.role %></p>
            <% if (user.hadir == null || user.hadir == "belum") { %>
              <p>Hadir: belum</p>
            <% } else { %>
              <p>Hadir: <%= user.hadir %></p>
            <% } %>
            <% if (user.makanSiang == null || user.makanSiang == "belum") { %>
              <p>Makan Siang: belum</p>
            <% } else { %>
              <p>Makan Siang: <%= user.makanSiang %></p>
            <% } %>
            <% if (user.snack == null || user.snack == "belum") { %>
              <p>Snack: belum</p>
            <% } else { %>
              <p>Snack: <%= user.snack %></p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
