<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello scanner</h1>
    <p>this is biodata user</p>
    <p>name: <%= user.username %></p>
    <p>email: <%= user.email %></p>
    <p>Role: <%= user.role %></p>
    <img src="/qr/<%= user.qr %>" alt="">
    <form action="/scanner/:<%=user.uuid%>" method="post">
        <% if (!user.hadir) { %>
            <label>
                <input type="checkbox" name="hadir"> Hadir
            </label>
        <% } else { %>
            <p>hadir: <%= user.hadir %></p>
        <% } %>
        <% if (!user.makanSiang) { %>
            <label>
                <input type="checkbox" name="makanSiang"> Makan Siang
            </label>
        <% } else { %>
            <p>makan siang: <%= user.makanSiang %></p>
        <% } %>
        <% if (!user.snack) { %>
            <label>
                <input type="checkbox" name="snack"> Snack
            </label>
        <% } else { %>
            <p>snack: <%= user.snack %></p>
        <% } %>
        <button type="submit">Oke</button>
    </form>
</body>
</html>
