<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello scanner</h1>
    <p>this is biodata user</p>
    <p>name: <%= user.username %></p>
    <p>email: <%= user.email %></p>
    <p>Role: <%= user.role %></p>
    <img src="/qr/<%= user.qr %>" alt="">
    <p>hadir: <%= user.hadir %></p>
    <p>makan siang: <%= user.makanSiang %></p>
    <p>snack: <%= user.snack %></p>
    <form action="/scanner/:<%=user.uuid%>" method="post">
        
    </form>
</body>
</html>